@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap');

:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
    --grey: rgba(34, 26, 26, 0.205);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.quiz-main{
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./image/taylor-van-riper-yQorCngxzwI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.start-quiz{
    margin: 20rem auto;
    background-color: var(--light-blue);
    color: var(--white);
    padding: 2rem;
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 1px 3px 2px 7px rgba(9, 9, 27, 0.87);
}

.start-quiz:active{
    background-color: var(--color-sec);
}

#logo{
    height: 16rem;
    width: 16rem;
    margin: 0 auto;
}

.inst-head{
    font-weight: 600;
    font-size: 25px;
}

.instructions{
    background-color: var(--white);
    margin: 10PX auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    animation: slide ease .8s;
}

@keyframes slide {
    from{
        transform: translateY(-30rem);
    }
    to{
        transform:translateY(0);
    }
}
.slide-up{
    animation: slide-up ease .8s;
}

@keyframes slide-up{
    0%{
        transform:translateY(0)
    }100%{
        transform: translateY(-90rem);
    }
}

ol{
    padding: 2rem;
}

ol li{
    padding: 0.8rem 1rem;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.start-btns{
    display: flex;
    justify-content:flex-end;
    padding: 1rem;
}

.quit {
    background-color: azure;
    border-color: var(--light-blue);
    color: var(--black);
    padding: 1.4rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    margin: 1rem;
}

.begin {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    color: var(--white);
    padding: 1.4rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    margin: 1rem;
}

.quit:active{
    background-color: var(--light-blue);
    color: var(--white);
}

.begin:active{
    background-color: var(--color-sec);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    animation: slide ease .8s;
}

@keyframes slide {
    0%{
        transform: translateY(-30rem);
    }100%{
        transform: translateY(0)
    }
}

header{
    width: 100%;
    background-color: var(--black);
    color: var(--light-blue);
    height: 4rem;
    font-size: 25px;
    padding: 0.4rem;
}

.quiz-app {
    border:1px solid var(--black);
    padding:0.5rem;
}

.head-content {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 15px;
}

#ques, #timer {
    background-color:var(--grey);
    padding: 8px;
    box-shadow: 0px 0px 4px 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.ques-content {
    background-color: var(--grey);
    padding: 8px;
    margin: 10px 3px;
    box-shadow: 0px 0px 4px 1px;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#instruction{
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 0.8rem;
    margin: 4px 0;
}

.buttons {
    margin: 18px 5px;
    border: 1px solid var(--grey);

}

.btn{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    background-color: var(--grey);
    font-size: 1.8rem;
    color: var(--black);
    border: 0.1px solid var(--grey);
    margin: 2px 0;
    transition: all .1s;
}

.btn:hover{
    border: 2px solid var(--black);
    color: var(--color-dark-grey);
    cursor: pointer;
}

.txt{
    font-size: 1.8rem;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding: 1rem;
}

.next-prev{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.next{
    background-color: var(--light-blue);
    color: var(--white);
    padding: 1.3rem;
    position: relative;
    margin: 1rem 2px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

.next:active{
    background-color: var(--color-sec);
}

.hide {
    display: none;
}

.start{
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

.start-btn{
    background-color: var(--light-blue);
    color: var(--white);
    padding: 2rem;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
    margin: 0.2px auto 0px auto;
}

.strt-btn:active{
    background-color: var(--color-sec);
}

#take-again{
    padding: 1.3rem;
    width: 100%;
}

.score{
    background-color: var(--grey);
    border:1px solid var(--black);
    padding:0.5rem;
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#score-display, #average{
    margin: 0 auto;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px
}

#average{
    color: var(--color-primary);
}

#score{
    color: var(--color-primary);
}

#take-again{
    text-decoration: none;
    color: var(--white);
}

.correct{
    background-color: green;
}

.wrong{
    background-color: #9d0919;
}

.inherit{
    background-color:inherit ;
}

@media (max-width:600px) {
    .quiz-main{
        background-image: url(./image/taylor-van-riper-yQorCngxzwI-unsplash-small-size.jpg);
        height: 100hv;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .instructions{
       width: 350px;
       border-radius: 5px;
       padding: 1rem 1rem 0rem 1rem;
    }
    #log0{
        width: 14px;
        height: 14px;
    }
    .quiz-app{
        background-color: var(--white);
    }
    .start-btns{
        padding: 0rem;
    }
    ol{
        padding: 1.3rem;
    }
    ol li{
        padding: 0.8rem 1rem;
        font-size: 16px;
    }
    
}